.square { 
  display: flex; 
  align-items: center;
  justify-content: center;
  
  background: #fff;
  
  outline: 1px solid #999;
 
  font-size: 24px;
  font-weight: bold;
  
  /*box-sizing: border-box;*/
}